{% extends 'base.html' %}
{% load staticfiles %}
{% load comment_tags  %}
{% load likes_tags %}

{% block header_content %}
<link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock %}

{% block title %}
我的网站
{% endblock %}

{% block nav_blog_active %}
active
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-9">
            <ul class="list-group">
                <li class="list-group-item list-group-item-primary text-white">{% block blog_list_title %}博客列表{% endblock %}</li>
                <li class="list-group-item">
                    {% for blog in blogs %}
                    <a href="{% url 'blog_detail' blog.pk %}">
                        <h4 class="my-3">{{ blog.title }}</h4>
                    </a>
                    <p class="blog-info mb-0">
                        <span class="mr-2">分类: <a href="{% url 'blog_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a></span>
                        <span class="mr-2">日期：{{ blog.created_time|date:"Y-m-d H:i:s" }}</span>
                        <span class="mr-2">阅读({{ blog.get_read_num }})</span>
                        <span class="mr-2">评论({% get_comment_count blog %})</span>
                        <span class="mr-2">点赞({% get_like_count blog %})</span>
                    </p>
                    <div class="blog">
                        <p>{{ blog.content|striptags|truncatechars:30 }}</p>
                    </div>
                    {% empty %}
                    <div class="blog">
                        <p>-- 暂无博客, 尽情期待 --</p>
                    </div>
                    {% endfor %}
                </li>
            </ul>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
            <h4 class="font-color list-group-item list-group-item-primary">博客分类</h4>
            <ul class="list-group">
                {% for blog_type in blog_types %}
                    <a class="list-group-item" href="{% url 'blog_with_type' blog_type.pk %}">{{ blog_type.type_name }}({{ blog_type.blog_count }})</a>
                {% empty %}
                    <li class="list-group-item">暂无博客分类</li>
                {% endfor %}
            </ul>

            <h4 class="font-color list-group-item list-group-item-primary mt-5">日期归档</h4>
            <ul class="list-group">
                {% for blog_date, blog_count in blog_dates.items %}
                    <li class="list-group-item"><a href="{% url 'blog_with_date' blog_date.year blog_date.month %}">{{ blog_date|date:"Y年m月" }}({{ blog_count }})</a></li>
                {% endfor %}
            </ul>
            
        </div>
    </div>
    <div class="my-4">
        <ul class="pagination justify-content-center">
                {# 上一页 #}
            <li class="page-item">
                {% if page_of_blogs.has_previous %}
                    <a class="page-link" href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                {% else %}
                    <span aria-hidden="true" class="page-link">&laquo;</span>
                {% endif %}
            </li>

            {# 全部页码 #}
            {% for page_num in page_range %}
                {% if page_num == page_of_blogs.number %}
                    <li class="page-item active"><span class="page-link">{{ page_num }}</span></li>
                {% else %}
                    {% if page_num == '...' %}
                        <li class="page-item"><span class="page-link" >...</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                    {% endif %}

                {% endif %}
                
            {% endfor %}

            {# 下一页 #}
            <li class="page-item">
                {% if page_of_blogs.has_next %}
                    <a class="page-link" href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% else %}
                    <span aria-hidden="true" class="page-link">&raquo;</span>
                {% endif %}
            </li>
        </ul>
        <p class="text-center">
            共{{ page_of_blogs.paginator.count }}篇博客,
            当前页: {{ page_of_blogs.number }},
            共{{ page_of_blogs.paginator.num_pages }}页
        </p>
    </div>
</div>

{% endblock %}